<p id="notice"><%= notice %></p>

<%= link_to 'Took Walk', took_walk_account_path(@account) %> <br/>
<%= link_to 'Took Medication', took_meds_account_path(@account) %> <br/>
<%= link_to 'Report Location', report_location_account_path(@account) %> <br/>

